{% block content %}
{% if error %}
<!-- Error message panel   -->
<div class="container" id="errors" style="top-margin:50px">
    <div class="panel panel-danger">
        <div class="panel-heading">
            {{ error }}
        </div>
    </div>
</div>
{%endif %}

{% if parsedDataRes %}
<table class="table table-bordered">
    <thead class="thead-light">
    <td>From Date</td>
    <td>To Date</td>
    <td>Institution</td>
    <td>Internal Accrual Reporting Group</td>
    <td>Gender</td>
    <td>Age Group</td>
    <td>Ethnicity</td>
    <td>Race</td>
    <td>DiseaseSite</td>
    <td>Recruited By</td>
    <td>Zip Code</td>
    <td>Accruals</td>
    </thead>

    {% for row in parsedData: %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        <td>{{row[5]}} - {{row[6]}}</td>
        <td>{{row[7]}}</td>
        <td>{{row[8]}}</td>
        <td>{{row[9]}}</td>
        <td>{{row[10]}}, {{row[11]}}</td>
        <td>{{row[12]}}</td>
        <td>{{ parsedData[row]['On Study Date*'] }}</td>
    </tr>
    {% endfor %}
</table>
{%endif %}
{% endblock content %}